<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Microtech">
	<groups>
		<run>
			<include name="regression"></include>
		</run>
	</groups>

	<test thread-count="5" name="Test And Verify">
		<classes>
			<class name="tastCase.Test_Create_Order" />
			<class name="tastCase.HomePageVerification" />
			<class name="tastCase.Test_Customer_Login" />
			<class name="tastCase.Test_Employee_Login" />
			<class name="tastCase.Multiple_TestCase_Run" />
			<class name="tastCase.BeforeGroup_Example" />
		</classes>
		
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
